{{#each this}}
    <li data-url="{{this._id}}" class="media well">
        <a class="pull-left" href="/article/{{urlencode this._id}}">
            <img
                class="media-object"
                alt="{{this.title}}"
                src="{{#if this.image}}{{this.image}}{{else}}/images/placeholder.png{{/if}}"
                style="width: 64px; height: 64px;">
        </a>

        <div class="media-body">
            <h4 class="media-heading"><a href="/article/{{urlencode this._id}}">{{this.title}}</a></h4>
        </div>
        <button type="button" class="close" data-action="delete" aria-hidden="true">×</button>
    </li>
{{/each}}
